/* ALL */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #103049;
}

h3 {
	text-align: center;
	width: 40%;
	margin: 0 auto;
	font-size: 2em;
	padding: 10px 0;
	border-radius: 3px;
	color: #FFF;
	background-color: #103049;
}

.titles{
	margin-bottom: 100px;
	background-image: url(images/titleBackground2.jpg);
	background-repeat: repeat;
	height: 200px;
	padding-top: 100px;
}

.triangles{
	width: 80px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.triangles div:last-child{
	
}

.tri{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #103049 transparent transparent transparent;
}

.allInfosOnMe{
	width: 250px;
	min-width: 150px;
	height: 125px;
	border: 1px solid #103049;
	border-radius: 5px;
	background-color: #FFF;
}

.allInfosOnMe:hover{
	background-color: #103049;
	transition: .4s
}

.text{
	width: 75%;
	border: 1px solid #103049;
	border-radius: 3px;
}

.sections{
	width: 100%;
	background-color: #FFF;
	border-top: 5px solid #103049;
}

@keyframes bubble {

	0% {
		font-size: 1.2em;
	}

	50% {
		font-size: 1.4em;
	}

	100% {
		font-size: 1.2em;
	}

}

@keyframes fondu {

	25% {
		opacity: 0.4;
	}

	75% {
		opacity: 1;
	}

}



/* HEADER */



header {
	background-image: url(images/backgroundBack.jpg);
}

header nav {
	width: 100%;
	height: 100px;
	box-shadow: 0px 1px 5px #103049;
	position: fixed;
	background-color: #FFF;
	z-index: 9999;
	display: flex;
	align-items: center;
}

header nav ul {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav ul li {
	width: 100%;
	height: 55px;
	text-align: center;
	padding-top: 45px;
}

header nav ul li a {
	padding: 5px;
	font-size: 1.2em;
	text-decoration: none;
	border: 1px solid #103049;
	border-radius: 3px;
}

header nav ul li a:hover {
	animation: .5s bubble;
	background-color: #103049;
	color: #FFF;
	transition: .4s;
}

#switch{
	width: 80px;
	height: 35px;
	background-color: #103049;
	border-radius: 20px;
	position: relative;
	top: 5px;
}

#switchRound{
	height: 25px;
	width: 25px;
	background-color: #FFF;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 45px;
}

#back {
	width: 100%;
	height: 350px;
	display: flex;
	position: relative;
	padding-top: 100px;
}

#reseaux {
	font-size: 0.8em;
	margin: 75px 0 0 75px;
	display: flex;
	flex-direction: row;
	z-index: 9;
}

#reseaux:hover i {
	color: #FFF;
	transition: .4s;
}

#reseaux:hover h2{
	color: #FFF;
}

.res {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto 0;
}

#words {
	flex: 1.5;
}

#icons {
	flex: 1;
	font-size: 1.5em;
}

#pp {
	width: 250px;
	min-width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 30px solid #FFF;
	margin: 0 auto;
	position: relative;
	bottom: -220px;
	background-image: url('images/pp.jpg');
}

#bvn {
	width: 300px;
	height: 305px;
	position: absolute;
	top: -35px;
	left: -30px;
	border-top: 5px solid #999;
	border-bottom: 5px solid #999;
	border-right: 5px solid #103049;
	border-left: 5px solid #103049;
	border-radius: 50%;
}

.letters {
	position: absolute;
	top: 0;
	left: 48%;
	height: 158px;
	transform-origin: bottom center;
	font-size: 1.5em;
	font-weight: 600;
	animation: fondu 2s infinite;
}

#l1 {
	transform: rotate(-40deg);
	height: 155px;
}

#l2 {
	transform: rotate(-30deg);
	height: 150px;
}

#l3 {
	transform: rotate(-20deg);
}

#l4 {
	transform: rotate(-10deg);
}

#l5 {
	transform: rotate(0deg);
}

#l6 {
	transform: rotate(10deg);
}

#l7 {
	transform: rotate(20deg);
}

#l8 {
	transform: rotate(30deg);
}

#l9 {
	transform: rotate(40deg);

}

#infos {
	font-size: 1.2em;
	margin: 75px 75px 0 0;
	text-align: center;
	padding-top: 10px;
}

#infos:hover li{
	color: #FFF;
}

#infos:hover a {
	background-color: #103049;
	color: #FFF;
	border: 1px solid #FFF;
	transition: .4s;
}

#infos a {
	font-size: 0.9em;
	padding: 7px;
	border: 1px solid #103049;
	border-radius: 3px;
}

#infos a:hover {
	color: #103049;
	background-color: #FFF;
}

#infos ul li:last-child {
	margin: 20px;
}



/* DESCRIPTION */



#desc {
	background-image: url(images/backgroundBack.jpg);
	height: 700px;
	padding-top: 300px;
}

#text {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 50px;
}

#text p {
	margin: 0 auto;
	padding: 40px;
	margin-top: 50px;
}



/* FORMATIONS / DIPLÔMES */



#formation {
	background-image: url(images/backgroundBack.jpg);
	height: 1350px;
	margin-top: 0px;
	padding: 100px 0;
}

#container {
	margin: 0 auto 150px auto;
	padding: 20px;
}

.formations {
	display: flex;
	padding: 20px;
}

#formation h4 {
	font-size: 1.5em;
	margin: 0 auto;
	align-items: center;
}

#formation p {
	font-size: 1.2em;
	width: 65%;
	margin: 0 auto;
}

#diplome {
	height: 200px;
	margin: 0 auto;
}



/* PORTFOLIO */



#portfolio {
	background-image: url(images/backgroundBack.jpg);
	height: 1200px;
	padding-top: 100px;
}

#portfolio nav {
	border: 1px solid #103049;
	width: 500px;
	height: 75px;
	margin: 50px auto;
	border-radius: 3px;
}

#portfolio nav ul {
	display: flex;
	align-items: center;
	text-align: center;
	width: 500px;
	height: 100%;
}

#portfolio nav ul li {
	width: 25%;
	height: 45px;
	padding-top: 30px;
	align-content: center;
}

#portfolio nav ul li:hover{
	background-color: #103049;
	color: #FFF;
	cursor: pointer;
	transition: .4s;
}

.containerpf {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.sousElements{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.pfelements {
	width: 200px;
	height: 200px;
	border: 1px solid #103049;
	border-radius: 3px;
}

.containerpf a {
	height: 200px;
}

.desc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
}

.desc h5 {
	font-size: 2em;
	align-items: center;
}

.pfelements:hover .desc {
	opacity: 1;
	transition-delay: .2s;
	transition-duration: .4s;
}

.pfelements:hover {
	filter: grayscale(1);
	transition-duration: grayscale .2s;
}

#pf1 {
	background-image: url('portfolio/pf1img.png');
}

#pf2 {
	background-image: url('portfolio/pf2img.png');	
}

#pf3 {
	background-image: url('portfolio/pf3img.png');
}

#pf4 {
	
}

#pf5 {
	
}

#pf6 {
	
}

#pf7 {
	
}

#pf8 {
	
}



/* CONTACT */



footer {
	background-image: url(images/backgroundBack.jpg);
	height: 1150px;
	padding-top: 150px;
}

form {
	height: 650px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

form label {
	padding: 50px 0 10px 0; 
	text-align: center;
	font-size: 1.5em;
	text-decoration: underline;
}

form input {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #103049;
	border-radius: 24px;
	outline: none;
}

form input:focus{
	width: 60%;
	border-radius: 5px;
	background-color: #103049;
	transition: .4s;
}

form input[placeholder] {
	font-size: 1em;
	text-align: center;
}

form input:nth-child(6) {
	width: 55%;
	height: 200px;
	margin-bottom: 50px;
}

form input:nth-child(6)[placeholder] {
	font-size: 1.2em;
}

form input:last-child{
	width: 30%;
	margin-bottom: 50px;
}

form input:last-child:hover{
	background-color: #103049;
	color: #FFF;
	width: 40%;
	border-radius: 5px;
	transition: .4s;
}