/* FORMATIONS / DIPLÔMES */

#formation {
	height: 1350px;
	margin-top: 0px;
	padding: 100px 0;
}

#container {
	margin: 0 auto 150px auto;
	padding: 20px;
}

.formations {
	display: flex;
	padding: 20px;
}

#formation h4 {
	font-size: 1.5em;
	margin: 0 auto;
	align-items: center;
}

#formation p {
	font-size: 1.2em;
	width: 65%;
	margin: 0 auto;
}

#diplome {
	height: 200px;
	margin: 0 auto;
}