/* FORMATIONS / DIPLÔMES */

#formation {
	height: auto;
	margin-top: 0px;
}

#container {
	padding: 150px 0;
}

.formations {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	border: 1px solid #FFF;
	padding: 25px;
	text-align: center;
}

.formations:first-child{
	margin-bottom: 50px;
}

#formation h4 {
	font-size: 1.5em;
	margin: 0 auto;
	align-items: center;
}

#formation p {
	font-size: 1.2em;
	width: 65%;
	margin: 0 auto;
}

@media (max-width: 845px){
	#container{
		height: 600px;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.formations{
		text-align: center;
		border-radius: 3px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border: 1px solid #FFF;
	}
	.formations h4{
		text-decoration: underline;
	}
}